/*.what-we-do {
    background-color:rgba(255, 255, 255, 1);
    width: 100%;
    max-width: 100%;
}
.subheading {
    grid-area: sub;
    min-height: auto;
    text-align: start;
    max-width: 1279px;
}
.subheading h3{
    font-size: 48px;
    line-height: 67.2px;
    color: var(--black);
    padding: 20px 0;
}
.rectangle-img {
    display: inline-block; 
    vertical-align: super;
    margin-right: 10px;
}
.sec-heading {
    font-size: 24px;
    display: inline-block;
    font-weight: 400;
    line-height: 28.8px;
}

.what-we-do-cards {
   grid-area: wwd;
   display: grid;
   grid-template-columns: repeat(4, 1fr);
   grid-row: 422px;
   
}
.wwdcards {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 40px;
    min-height: 422px;
    color: var(--black);
    
} 
.wwdcards h2 {
    font-weight: 700;
    font-size: 1.5rem;
}
.wwdcards p{
    line-height: 30px;
    font-size: 1.2rem;
    font-weight: 400;
}*/














/*
.wwdcards img {
    width: 100px;
}

.wwdcards {
    width: 290px;
    min-height: 422px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 1.25rem;
    font-weight: 200;
    line-height: 30px;
    background-color: rgb(172, 194, 187);
    margin-top: 70px;
}

.wwd1 {
    grid-area: wwd1;
}
.wwd2 {
    grid-area: wwd2;
}
    */